<div class="board-container">
  <div class="board-row">
    <tile tile-number="1"></tile>
    <tile tile-number="2"></tile>
    <tile tile-number="3"></tile>
    <tile tile-number="4"></tile>
    <tile tile-number="5"></tile>
  </div>

  <div class="board-row">
    <tile tile-number="16" position="left"></tile>
    <tile tile-number="6" position="right"></tile>
  </div>

  <div class="board-row">
    <tile tile-number="15" position="left"></tile>
    <tile tile-number="7" position="right"></tile>
  </div>

  <div class="board-row">
    <tile tile-number="14" position="left"></tile>
    <tile tile-number="8" position="right"></tile>
  </div>

  <div claas="board-row">
    <tile tile-number="13"></tile>
    <tile tile-number="12"></tile>
    <tile tile-number="11"></tile>
    <tile tile-number="10"></tile>
    <tile tile-number="9"></tile>
  </div>
  <div class="clearfix">&nbsp;</div>
</div>
